name: chinachu

on:
  push:
    paths:
      - "src/chinachu/**"

  workflow_dispatch:

permissions:
  contents: read
  packages: write
  actions: read
  security-events: write

jobs:
  build:
    uses: SlashNephy/actions/.github/workflows/build-docker-image.yml@098bad3f838dcb7f95c293d2c4b91e530157644f # v0.0.2
    with:
      image-name: ghcr.io/slashnephy/chinachu
      context: src/chinachu
      image-platforms: linux/amd64,linux/arm64
