name: epgstation-custom-hwaccel

on:
  push:
    paths:
      - "src/epgstation-custom-hwaccel/**"

  workflow_dispatch:

permissions:
  contents: read
  packages: write
  actions: read
  security-events: write

jobs:
  build:
    uses: SlashNephy/actions/.github/workflows/build-docker-image.yml@098bad3f838dcb7f95c293d2c4b91e530157644f # v0.0.2
    with:
      image-name: ghcr.io/slashnephy/epgstation-custom-hwaccel
      context: src/epgstation-custom-hwaccel
    secrets:
      registry-password: ${{ secrets.GHCR_TOKEN }}
