name: ffmpeg-ubuntu

on:
  push:
    paths:
      - "src/ffmpeg/ubuntu/**"

  workflow_dispatch:

permissions:
  contents: read
  packages: write
  actions: read
  security-events: write

jobs:
  build:
    uses: SlashNephy/actions/.github/workflows/build-docker-image.yml@098bad3f838dcb7f95c293d2c4b91e530157644f # v0.0.2
    with:
      image-name: ghcr.io/slashnephy/ffmpeg-ubuntu
      context: src/ffmpeg/ubuntu
      image-platforms: linux/amd64
      # CUDA のベースイメージがデカすぎる...
      free-disk-space: true
