name: ffmpeg-ubuntu

on:
  push:
    paths:
      - "src/ffmpeg/ubuntu/**"

  workflow_dispatch:

permissions:
  contents: read
  packages: write
  actions: read
  security-events: write

jobs:
  build:
    uses: SlashNephy/actions/.github/workflows/build-docker-image.yml@3dbec9cde813d07525321de7ba55814cebf26c81 # v0.0.1
    with:
      image-name: ghcr.io/slashnephy/ffmpeg-ubuntu
      context: src/ffmpeg/ubuntu
      image-platforms: linux/amd64
      # CUDA のベースイメージがデカすぎる...
      free-disk-space: true
