name: ffmpeg-ubuntu

on:
  push:
    paths:
      - "src/ffmpeg/ubuntu/**"

  workflow_dispatch:

permissions:
  contents: read
  packages: write
  actions: read
  security-events: write

jobs:
  build:
    uses: SlashNephy/actions/.github/workflows/build-docker-image.yml@main
    with:
      image-name: ghcr.io/slashnephy/ffmpeg-ubuntu
      context: src/ffmpeg/ubuntu
      image-platforms: linux/amd64,linux/arm64
      # no space left on device が発生するのでキャッシュを無効化
      cache-from: ""
      cache-to: ""
      free-disk-space: true
