name: vceencc

on:
  push:
    paths:
      - "src/vceencc/**"

  workflow_dispatch:

permissions:
  contents: read
  packages: write
  actions: read
  security-events: write

jobs:
  build:
    uses: SlashNephy/actions/.github/workflows/build-docker-image.yml@main
    with:
      image-name: ghcr.io/slashnephy/vceencc
      context: src/vceencc
